/* Overriden css of the chakra UI for projects use case */
.chakra-heading {
  padding: 10px 0;
}

.chakra-input {
  margin-bottom: 10px;
}

.chakra-ui-light {
  display: block;
}

.css-g6pte{
  font-size: 15px !important;
}

/* body{
  font-family: 'lato' !important;
} */
