.change-password-body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-password-container {
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 200px #d4d4d4;
  height: 550px;
  gap: 10px;
  width: 450px;
  padding: 1.5rem;
  margin: 1rem;
}

.content {
  align-content: center;
  text-align: center;
}

.button {
  width: 100%;
}

.passwordBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Weak {
  color: red;
}

.Medium {
  color: rgb(0, 76, 229);
}

.Strong {
  color: #319795;
}

.Very_Strong {
  color: rgb(0, 202, 0);
}

.Very_Weak {
  color: red;
}
