/* CSS for the signup page: */
.signup_body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_container {
  box-shadow: 0px 0px 200px #d4d4d4;
  height: 650px;
  width: 450px;
  padding: 0 30px;
}

.signup_form {
  height: 100%;
  width: 100%;
  padding: 1rem;
  gap: 20px;
}

.main-heading {
  padding: 20px !important;
}

.icon_buttons {
  gap: 20px;
  width: 100%;
}

.sign-up-options-heading {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
