.Weak {
  background-color: blanchedalmond;
  color: red;
}

.Medium {
  background-color: #d1f0ff;
  color: rgb(0, 76, 229);
}

.Strong {
  background-color: #c2ffca;
  color: #319795;
}

.Very_Strong {
  background-color: #c2ffca;
  color: rgb(0, 202, 0);
}

.Very_Weak {
  background-color: blanchedalmond;
  color: red;
}

.strength {
  transition: 0.5s;
  width: 220px;
  height: 22px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-link {
  font-weight: 500;
}
